@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import 'simplebar-react/dist/simplebar.min.css';
@theme {
  --font-opensans: "Open Sans", sans-serif; 
}
@layer base {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
    }
body{
  overflow-x: hidden;
}
 .simplebar-scrollbar::before {
  background-color: black !important;
}

/* Optional: make track transparent */
.simplebar-track.simplebar-vertical,
.simplebar-track.simplebar-horizontal {
  background: transparent !important;
}